<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJyvFAUluapphmZbSsdhabmyGT8iOkpRk</string>
	<key>GCM_SENDER_ID</key>
	<string>27722838636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unicamp.br.SwiftUI-Auth</string>
	<key>PROJECT_ID</key>
	<string>authentication-89de8</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-89de8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27722838636:ios:5c5687d89d8e3f4ca95e49</string>
</dict>
</plist>